<header>
    <div class="container">
        <div class="navbar navbar-inverse">
            <div class="navbar-brand">Node Web</div>
            <ul class="navbar-nav nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/products">Products</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
            <div class="pull-right">
                <a href="/users/login" class="btn btn-danger btn-sm">Login</a>
            </div>
        </div>
    </div>
</header>