div.container
    header
        div.navbar.navbar-inverse
            div.navbar-brand Node Web App
            ul.navbar-nav.nav
                li 
                    a(href="/") Home
                li 
                    a(href="/about") About
                li 
                    a(href="/contact") Contact
                li 
                    a(href="/products") Products